body {
  background-color: #232323;
  color: white;
  margin: 0 !important;
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1.5rem;
}
#wrapper {
  width: 100vw;
  background-color: #3b3b3b;
}
.user-info {
  float: left;
  --main-width: (76vw - 30px);
  width: calc(var(--main-width) / 3);
  margin-left: 1vw;
  margin-bottom: 1vh;
  background-color: #5d5d5d;
  border-radius: 35px;
  height: 70px;
  text-transform: capitalize;
}
header {
  color: white;
  width: 100vw;
  height: 10vh;
  min-height: 90px;
  background-color: #6441a5;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  padding-top: 2.5vh;
  text-align: center;
  position: relative;
  vertical-align: top;
}
#ttv_logo > img {
  border-radius: 0;
  width: 80px;
  height: 80px;
  display: static;
  vertical-align: middle;
}
footer img {
  border-radius: 0;
}
main {
  width: 80vw;
  min-height: calc(100vh - 10vh - 70px);
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  overflow: hidden;
  padding-top: 10vh;
}

.avatar-image {
  width: 70px;
  height: 70px;
}
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #6441a5;
  height: 70px;
  width: 100vw;
  float: left;
  font-size: 1.5rem;
  overflow: hidden;
}
#nienawidzecss {
  position: relative;
  bottom: 10px;
}
#dev_awatar {
  width: 70px;
  height: 70px;
  position: absolute;
  display: block;
  float: left;
}
img {
  border-radius: 50%;
}
* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}
.footer {
  text-align: center;
}
.footer a {
  color: #6441a5;
}
textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: rgba(0, 0, 0, 0.12);
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 rgb(51, 51, 51);
  outline-width: 0;
}
